

.logo {
  height: 200px;
}

.head {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-size: .8em;
  letter-spacing: 20px;
}

.manifest {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

.profilePic {
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.characterPanel:hover {
  background-color: gray;
}

@media only screen and (min-width: 600px) {
  .logo {
    height: 300px;
  }
  .manifest {
    top: 20%;
  }
  .head {
    font-size: 1em;
  }
}